<% content_for :title do %>
  Product <%= @product.id %> Info
<% end %>

<h1>Showing information for Product <%= @product.id %></h1>

<p>Name: <%= @product.name %></p>
<p>Description: <%= @product.description %></p>
<p>Price: $<%= number_with_precision @product.price, precision: 2 %></p>
<p>Category: <%= @product.category.name %></p>

<%= link_to 'Edit', edit_product_path(@product) %> | <%= link_to 'Back', products_path %>

<h3>Comment:</h3>

<%= form_for([@product, @comment]) do |c| %>
  <%= tag(:input, type: "hidden", name: 'product_id', value: @product.id) %>
  <%= c.text_area :comment %>
  <%= c.submit %>
<% end %>

<%= render partial: 'prod_comment' %>